body {
    background-color: rgb(20, 20, 20);
    color: rgb(0, 238, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card {
    background-color: rgb(40, 40, 40);
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    height: 380px;
    box-sizing: border-box;
    padding: 10px;
}

.card > img {
    width: 100%;
    border-radius: 20px;
}

.card-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text > h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    margin-top: 5px;
}

.card-text > p {
    margin: 0;
    margin-top: 5px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.card-footer > a {
    background-color: aqua;
    padding: 4px;
    color: rgb(0, 2, 255);
    text-decoration: none;
    border-radius: 5px;
}

.card-footer > a:hover {
    background-color: chocolate;
}